@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rosaNeon: #BF307F;
    --rosaNeonOpc: #bf307f61;
    --rosaEscuro: #731F4D;
    --roxo: #151226;
    --azulEscuro: #024873;
    --azulClaro: #0388A6;
    --branco: #FFFFFF;
    --brancoCinza: #f2f2f2;
    --cinza: #b2b2b2;
    --transparente: #ffffff00;
    --roxoClaroShadow: rgba(159, 159, 191, 1);
    --amarelo: #E3BF23;
}

html {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--transparente);
}

::-webkit-scrollbar-thumb {
    background-color: var(--roxo);
}

.editar-perfil {
    display: flex;
    width: 100%;
    height: 140vh;
    flex-direction: row;
}

.menu-lateral {
    width: 20vw;
    height: 140vh;
    background-color: var(--rosaNeon);
}

.menu-lateral hr {
    border: solid 2px var(--branco);
}

.perfil {
    width: 80vw;
    height: 100vh;
}

.user {
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.user .img {
    width: 70px;
    height: 70px;
    cursor: auto;
}

.user h1 {
    color: var(--branco);
}

.lista {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.lista a{
    width: 100%;
    text-decoration: none;
}

ul {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    width: 100%;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 1rem;
    color: var(--branco);
    width: 100%;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

li:hover {
    background-color: var(--rosaEscuro);
}

li:active {
    background-color: var(--roxo);
}

.escolha-foto {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    height: 75vh;
}

.escolha-foto h1 {
    color: var(--roxo);
    font-size: 24px;
}

.fotos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.img:hover {
    transform: scale(1.05);
}

.graficos {
    width: 100%;
    height: 65vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #731F4D;
    padding: 1rem;
    gap: 1rem;
}

.grafico-1 {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: #FFFFFF;
}

.grafico-2 {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: #FFFFFF;
}